<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="servidor" value="Local"/>
    <add key="ip" value="192.168.130.54"/>
    <add key="dataBase" value="server =DESKTOP-NIEF6TG\MSSQLSERVER01;database=Restaurante; integrated security = true"/>
    
  </appSettings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
